/*------------------------------------*\
    #VARIANT SETTINGS
\*------------------------------------*/

/**
 * Site settings that are derived from the main's primary settings.
 **/

/**
 * WARNING
 *
 * These settings should rarely be changed directly, as this may have
 * far-reaching consequences. Instead, redefine variables at the
 * series/group/site level.
 **/

/* = High-level colours = */

$sagovau-color-brand--light:                    tint($sagovau-color-brand, $sagovau-tint-base);
$sagovau-color-brand--medium-light:             tint($sagovau-color-brand, 50%);
$sagovau-color-brand--dark:                     shade($sagovau-color-brand, $sagovau-shade-base);
$sagovau-color-brand--medium-dark:              shade($sagovau-color-brand, 50%);

$sagovau-color-brand-secondary--light:          null;
$sagovau-color-brand-secondary--medium-light:   null;

@if $sagovau-color-brand-secondary != null {

    $sagovau-color-brand-secondary--light:          tint($sagovau-color-brand-secondary, $sagovau-tint-base);
    $sagovau-color-brand-secondary--medium-light:   tint($sagovau-color-brand-secondary, 50%);

}





/* = Utility colours = */

$sagovau-color-success--light:        tint(green, $sagovau-tint-base) !default;

$sagovau-color-warning--light:        tint(orange, $sagovau-tint-base) !default;

$sagovau-color-danger--light:         tint(red, $sagovau-tint-base) !default;





/* = Fonts = */

$sagovau-font-size-base--large:         ($sagovau-line-height-base + $sagovau-font-size-base)/2;





/* = Layout = */

$sagovau-spacing-unit-base--small:    round($sagovau-spacing-unit-base / 2);
$sagovau-spacing-unit-base--large:    round($sagovau-spacing-unit-base * 2);
