/*------------------------------------*\
    #INUITCSS FRAMEWORK SETTINGS
\*------------------------------------*/

/**
 * Map sagovau settings to inuitcss’ to override its defaults; add any
 * additional global settings.
 */

/* = Namespace = */

$inuit-namespace:                   $sagovau-namespace;


/* = High-level base settings = */

$inuit-base-font-size:              $sagovau-font-size-base;
$inuit-base-line-height:            $sagovau-line-height-base;
$inuit-base-spacing-unit:           $sagovau-spacing-unit-base;
$inuit-base-text-color:             $sagovau-color-text-base;
$inuit-base-background-color:       $sagovau-color-background-base;


/* = Repsonsive breakpoints = */

$breakpoints:                       $sagovau-media-queries;
$inuit-responsive-settings:         true;





/* = Layout = */

$inuit-enable-layout--small:            true;
