/*------------------------------------*\
    #GENERAL SETTINGS
\*------------------------------------*/

/**
 * WARNING
 *
 * These settings should rarely be changed directly, as this may have
 * far-reaching consequences. Instead, redefine variables at the
 * series/group/site level.
 **/

/* = Namespace = */

/**
 * A prefix that can be used to prevent class name collisions. Use "null" to
 * ignore.
 **/

$sagovau-namespace: null;





/* = File locations and prefixes = */

$sagovau-path-png:      null;
$sagovau-path-svg:      null;

$sagovau-path-fonts:    null;

$sagovau-path-shared:   null;


$sagovau-file-prefix:   "";





/* = Colours = */

/**
 * All colours for in settings files; only tints/shades or combinations of these
 * colours may be used elsewhere.
 **/

/* == Tint and shade percentage == */

/**
 * Set the default tint/shade percentage for creating lighter/darker version
 * of a colour.
 **/

$sagovau-tint-base:     90%;
$sagovau-shade-base:    $sagovau-tint-base;


/* == High-level colours == */

$sagovau-color-brand:                   #002855;

$sagovau-color-brand-secondary:         null;


$sagovau-color-text-base:               black;
$sagovau-color-text-reverse:            white;
$sagovau-color-background-base:         white;
$sagovau-color-background-main:         white;





/* == Utility colours == */

$sagovau-color-success:               shade(green, 20%);

$sagovau-color-warning:               shade(orange, 20%);

$sagovau-color-danger:                shade(red, 20%);





/* = Fonts =*/

$sagovau-font-family-base:              "Frutiger W01",Helvetica,Arial,sans-serif;
$sagovau-font-family-highlight:         $sagovau-font-family-base;


$sagovau-font-size-base:                16px;
$sagovau-line-height-base:              24px;





/* = Layout = */

$sagovau-spacing-unit-base:           $sagovau-line-height-base;


$sagovau-max-width: 1080px;





/* = Animation = */

$sagovau-transition-time:               0.3s;





/* = Media queries = */

/**
 * This notation has been chosen as it is compatible with Inuit CSS
 * `media-query()` mixin found in `_tools.responsive`.
 **/

$sagovau-media-queries: (
    "small-and-up"  "screen and (min-width: 480px)",
    "medium-and-up" "screen and (min-width: 640px)",
    "large-and-up"  "screen and (min-width: 720px)",
    "huge"          "screen and (min-width: 1024px)",
    "retina"        "(-webkit-min-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), min-resolution: 1.5dppx)"
);
