/*------------------------------------*\
    #DISPLAY HELPERS
\*------------------------------------*/

/**
 * Prevent display, both visually and from screen-readers.
 *
 * Some screen readers will still access elements that have "display: none".
 * Using "display: none" AND "visibility: hidden" avoids this problem. More
 * information at: http://juicystudio.com/article/screen-readers-display-none.php
 * Hat tip: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
 **/

$sagovau-display-helpers-responsive:    false !default; // Generate mobile-first helper classes

.#{$sagovau-namespace}hidden,
%#{$sagovau-namespace}hidden {
    display:    none !important;
    visibility: hidden !important;
}


// Generate mobile-first helper classes to display hidden elements.

@if $sagovau-display-helpers-responsive == true {

    @each $breakpoint in $breakpoints {

        $alias:     nth($breakpoint, 1);

        @if ($alias != "retina") {

            @include media-query($alias) {

                .#{$sagovau-namespace}hidden-#{$alias} {
                    display:    none !important;
                    visibility: hidden !important;
                }

                .#{$sagovau-namespace}display-block-#{$alias} {
                    display:    block !important;
                    visibility: visible !important;
                }


                .#{$sagovau-namespace}display-inline-block-#{$alias} {
                    display:    inline-block !important;
                    visibility: visible !important;
                }

            }

        }

    }

}


/*
 * Hide visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * Hat tip: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
 */

.#{$sagovau-namespace}visually-hidden,
%#{$sagovau-namespace}visually-hidden {
    border:     0 !important;
    clip:       rect(0 0 0 0) !important;
    height:     1px !important;
    margin:     -1px !important;
    overflow:   hidden !important;
    padding:    0 !important;
    position:   absolute !important;
    width:      1px !important;
}





 /**
 * Selectively display or hide content depending on the browser's capabilities.
 * Requires Modernizr.
 *
 * Note: in order for these classes to work properly when JavaScript is
 * disabled, the html element must include the exclusion classes (eg "no-*")
 * used below. These must be removed using JavaScript prior to running Modernizr
*  (with the exception of "no-js" which Modernizr removes already).
 */

.js .#{$sagovau-namespace}no-js,
.js %#{$sagovau-namespace}no-js { // Hide anything with the no-js class when JavaScript is enabled
    @extend %#{$sagovau-namespace}hidden;
}

.no-js .#{$sagovau-namespace}js-only,
.no-js %#{$sagovau-namespace}js-only {  // Hide anything with the js-only class when JavaScript is disabled
    @extend %#{$sagovau-namespace}hidden;
}

.retina .#{$sagovau-namespace}no-retina,
.retina %#{$sagovau-namespace}no-retina {  // Hide anything with the no-retina class if the browser has a device pixel ratio greater than 1
    @extend %#{$sagovau-namespace}hidden;
}

.no-retina .#{$sagovau-namespace}retina-only,
.no-retina %#{$sagovau-namespace}retina-only {  // Hide anything with the retina-only class if the browser has a device pixel ratio of 1 or less
    @extend %#{$sagovau-namespace}hidden;
}





/**
 * Hide elements from print
 */

.#{$sagovau-namespace}no-print,
%#{$sagovau-namespace}no-print {

    @media print {
        display:    none !important;
    }

}


/**
 * Hide elements except in print
 */

.#{$sagovau-namespace}print-only,
%#{$sagovau-namespace}print-only {

    @media not print {
        display:    none !important;
        visibility: hidden !important;
    }

}
